
<%- include('../partials/header.ejs')%>
<div class = "content">
    <div class="wrapper">
        <div class="container" style="height: 650px;">
            <% if(items.length) { %>
                <p> You have created <b><%=items.length%></b> items to trade </p>
                <form method="POST" action="/trades/<%=exchangeItem.id%>/trade?_method=PUT">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Item Name</th>
                            <th>Category</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% items.forEach((item) => { %>
                            <tr>
                                <td><span>  <input type="radio"  class="radio-btn" required name="itemId" value="<%=item.id%>" /> </span> &nbsp; <a href="/trades/<%=item.id%>"> <%=item.name %> </a></td>
                                <td> <%=item.category%> </td>
                                <td> <%=item.status%> </td>
                            </tr>
                                <%}) %>
                        </tbody>
                    </table>
                    <button class="btn btn-primary button-custom">
                         Trade
                    </button>
                </form> 
                    <%} else { %>
                        <p> You have not created any items to trade! </p>
                    <%}%>
                </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs')%>
