<%- include('./partials/header.ejs') %>  


<div class = "content">
  <h3>All items listed here!</h3> 

   <% if(grouped){ for(let key in grouped) { let items=grouped[key]; %>
            <h4>
                <%=key%>
            </h4>
            <%items.forEach(item=>{ %>
                <ul>
                    <li>
                      <a href="/trades/<%=item.id%>"><p><%=item.name%></p></a>
                    </li>
                </ul>
                <% }); }}else{ %>
                    <p>There are no items to display.</p>
                    <%}%>

  <br>
  <br>
 
</div>

<%- include('./partials/footer.ejs') %> 
