<%- include('./partials/header.ejs') %>    
  
<div class="container" style="background: linear-gradient(to right, rgba(204, 83, 51, 0.6), rgba(35, 7, 77, 0.6));;">
    
    <div class="centered" style="color: white;">

        <h3><%= item.name%></h3>

        <div class="media">
          <div class="media-left media-top">
            <img src="../images/A_Game_of_Thrones.jpg" class="media-object" style="width:250px" alt="A_Game_of_Thrones">
          </div>
          <div class="media-body">
            <h3 class="media-heading" >Category: <%=item.category%></h3>
            <h4 class="media-heading">Published By: <%=item.publishedBy%></h4>
            <h4 class="media-heading">Suggested Age: <%=parseInt(item.suggestedAge)%></h4>
            
            <p><%=item.details%> </p>
           
            </div>
        </div>
       
        <br>
        <br>

        
        <form>
            <button type = 'submit' 
            class="btn btn-lg btn-primary button-custom" 
            formmethod = "GET" formaction = "/trades/<%=item.id%>/edit">Edit</button>
            
            <button type = 'submit' class="btn btn-lg btn-primary button-custom" 
            formmethod = "POST" formaction = "/trades/<%= item.id%>?_method=DELETE">Delete</button>

        </form>
        <hr>
        <div class="media" style="text-align: center;">
        <h5><b>Do you want to trade this board game?</b></h5>  
        <br />
        <div class="action-btns text-center">  
            <a href="/trades" class="btn btn-lg btn-primary button-custom"> Trade Now 
            </a> &nbsp; &nbsp;
            <a href="/trades" class="btn btn-lg btn-default">
                Rate Now 
            </a>
        </div>
        <br />  <br />
        </div>

    </div>  
</div>
<br>
<br>




<%- include('./partials/footer.ejs') %> 
